*{
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 60%, 98%);
}

img{
    width: 45px;
}

p{
    font-size: 1em;
}

span{
    font-weight: 800;
}

a{
    font-weight: 800;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em 0 1.5em;
    border: 1px solid red;
    border-radius: 15px;
    background-color:  hsl(0, 0%, 100%);
}

.notifications-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.notifications-title{
    position: relative;
    justify-content: center;
    gap: 1em;
}

.notifications-title::after{
    position: absolute;
    top: 25%;
    right: -25%;
    content: "3";
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    background-color: hsl(219, 85%, 26%);
    padding: .2em .8em .2em .8em;
    border-radius: 5px;
}

.notifications-title > h1{
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}

.mark-all{
    color: hsl(219, 12%, 42%)
}

.notification{
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding: 1em;
    border-radius: 15px;
    line-height: 1.5em;
}

.notification-paragraph{
    position: relative;
    color: hsl(219, 12%, 42%);
    max-width: 50ch;
}

.notification-content{
    display: flex;
    gap: 1.5em;
}

.comment-on-post-notification{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.notification-picture{
    position: absolute;
    right: 6%;
}

.unread{
    background-color: hsl(210, 60%, 98%);
}

.unread-dot::after{
    content: " ";
    position: absolute;
    top: 40%;
    right: -1em;
    background-color: hsl(1, 90%, 64%);
    padding: .250em;
    clip-path: circle();
}

.username{
    color: hsl(224, 21%, 14%);
}

.time-ago{
    color: hsl(219, 14%, 63%);
}

.message-container{
    padding: 1em;
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 5px;
    margin-top: .5em;
}

.message{
    max-width: 45ch;
    color: hsl(219, 12%, 42%);
}

.list-container > ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.group-link > a{
    color: hsl(219, 85%, 26%);
}

.post-link > a{
    color: hsl(219, 12%, 42%);
}

