*{
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 60%, 98%);
}

img{
    width: 45px;
}

p{
    font-size: 1em;
}

span{
    font-weight: 800;
}

a{
    font-weight: 800;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 1.5em 2em 1.5em;
    border: 1px solid red;
    border-radius: 15px;
    background-color:  hsl(0, 0%, 100%);
}

.notifications-title-container{
    display: flex;
    justify-content: space-between;
}

.notifications-title > h1{
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}


.mark-all{
    color: hsl(219, 12%, 42%)
}

.notification{
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding: 1.5em;
    background-color: hsl(210, 60%, 98%);
    border-radius: 15px;
}

.notification-paragraph{
    position: relative;
    color: hsl(219, 12%, 42%);
}

.notification-paragraph::after{
    content: " ";
    position: absolute;
    top: 40%;
    right: -1em;
    background-color: hsl(1, 90%, 64%);
    padding: .250em;
    clip-path: circle();
}

.username{
    color: hsl(224, 21%, 14%);
}

.time-ago{
    color: hsl(219, 14%, 63%);
}

.list-container > ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.group-link > a{
    color: hsl(219, 85%, 26%);
}

.post-link > a{
    color: hsl(219, 12%, 42%);
}

