*{
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 60%, 98%);
    min-height: 100vh;
    padding: 3.5em;
}

img{
    width: 45px;
}



p{
    font-size: 1em;
}

span{
    font-weight: 800;
}

a{
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}

a:hover{
    color: hsl(219, 85%, 26%);
}

.group-link{
    color: hsl(219, 85%, 26%);
}

.post-link{
    color: hsl(219, 12%, 42%);
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em 0 1.5em;
    border-radius: 1em;
    background-color:  hsl(0, 0%, 100%);
}

.notifications-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.notifications-title{
    position: relative;
}

.notifications-counter{
    position: absolute;
    top: 25%;
    right: -25%;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    background-color: hsl(219, 85%, 26%);
    padding: .2em .8em .2em .8em;
    border-radius: 5px;
}

.notifications-title > h1{
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}

.mark-all{
    font-size: 1em;
    color: hsl(219, 12%, 42%);
    background: none;
    border: none;
}

.mark-all:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.list-container > ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.notification{
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.5em;
}

.notification-paragraph{
    position: relative;
    color: hsl(219, 12%, 42%);
    max-width: 50ch;
}

.notification-content{
    display: flex;
    gap: 1.5em;
}

.comment-on-post-notification{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.notification-picture{
    position: absolute;
    right: 6%;
}

.notification-picture > a > img:hover{
    border: 3px solid hsl(205, 33%, 90%);
    border-radius: 5px;
    background-color: hsl(205, 33%, 90%);
}

.unread{
    background-color: hsl(210, 60%, 98%);
}

.unread-dot::after{
    content: " ";
    position: absolute;
    top: 40%;
    right: -1em;
    background-color: hsl(1, 90%, 64%);
    padding: .250em;
    clip-path: circle();
}

.username{
    color: hsl(224, 21%, 14%);
}

.time-ago{
    color: hsl(219, 14%, 63%);
}

.message-container{
    padding: 1em;
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 5px;
    margin-top: .5em;
}

.message-container:hover{
    background-color: hsl(211, 68%, 94%);
}

.message{
    max-width: 45ch;
}

.message > a{
    color: hsl(219, 12%, 42%);
    font-weight: 400;
}



@media(max-width: 425px){
    body{
        padding: 0;
    }

    p{
        font-size: .8em;
    }

    img{
        width: 35px;
    }

    .main-container{
        padding: 1em;
        width: 100%;
    }

    .notifications-title > h1{
        font-size: 1.5em;
    }

    .notifications-title::after{
        top: 10%;
    }

    .mark-all{
        font-size: 0.8em;
    }

    .notification{
        line-height: 1.2;
    }

    .notification-paragraph{
        max-width: 25ch;
    }
    .message-container{
        padding: 0.8em 1.6em 0.8em 0.8em;
    }

    .message{
        max-width: 22ch;
    }

    .comment-on-post-notification > .notification-content > .notification-text > .notification-paragraph{
        max-width: 20ch;
    }

    .unread-dot::after{
        position: relative;
        top: 1px;
        right: -0.5em;
    }


}

